<div class="mx-14 flex">
  <div class="flex flex-col gap-y-6 max-xl:hidden">
    <img src="avatar.png" alt="avatar.png" class="w-7" />
    @for (sidebar of Sidebar; track sidebar.id) {
    <div
      class="cursor-pointer my-1 w-fit flex flex-col"
      (click)="onCLick(sidebar.id)"
      (click)="sidebar.EventHandler()"
    >
      <img [src]="sidebar.image" alt="home.png" class="w-7" />
      <p
        class="font-bold text-sm text-[#aaa]"
        [class.active]="activatedButton === sidebar.id"
      >
        {{ sidebar.title }}
      </p>
    </div>
    }
    <div>
      <app-offcanvas-home />
      <app-offcanvas-application />
    </div>
  </div>
  <div
    class="mx-48 w-full max-xl:-mx-10 max-lg:w-[40pc] max-md:w-[30pc] max-sm:w-[20pc] transition-all duration-200"
  >
    <router-outlet />
  </div>
</div>
