@if (isHomeOpen) {
<div>
  <!-- Offcanvas Menu -->
  <div
    class="absolute top-24 left-40 none w-64 h-fit bg-white transform transition-transform duration-300"
    [ngClass]="{
      'translate-x-full': !isHomeOpen,
      'translate-x-0': isHomeOpen
    }"
  >
    <div class="flex flex-col gap-y-7">
      <div class="flex flex-col gap-y-3">
        <h1 [style]="'color: ' + Color" class="font-bold text-sm">
          Landing Page
        </h1>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Corporate</button>
      </div>
      <!-- ///////////////////////// -->
      <div class="flex flex-col gap-y-3">
        <h1 [style]="'color: ' + Color" class="font-bold text-sm">Dashboard</h1>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Analytic</button>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Marketing</button>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Cryptocurreny</button>
      </div>
      <!-- ///////////////////////// -->
      <div class="flex flex-col gap-y-3">
        <h1 [style]="'color: ' + Color" class="font-bold text-sm">Widgets</h1>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">infoGraphics</button>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Analytics</button>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Mini Apps</button>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Gallery</button>
      </div>
      <!-- ///////////////////////// -->
      <div class="flex flex-col gap-y-3">
        <h1 [style]="'color: ' + Color" class="font-bold text-sm">
          Fonts & Icons
        </h1>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Typography</button>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Material Icons</button>
      </div>
      <!-- ///////////////////////// -->
      <div class="flex flex-col gap-y-3">
        <h1 [style]="'color: ' + Color" class="font-bold text-sm">Layouts</h1>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Grid</button>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">App Layout</button>
        <button class="w-24 hover:bg-[#aaa] rounded-xl">Responsive</button>
      </div>
    </div>
  </div>
</div>

}
